<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This application is built as a re-usable Hortonworks Assembly Framework.  The purpose is to quickly be able to create compelling web applications that take advantage of the key real-time components of the Hortonworks Data Platform.  Such as Apache HBase, Apache Solr, and Apache Phoenix.  The following use cases have been included for an example.
    <ul>
      <li><a ng-href="#/logs">Log Management</a></li>
    </ul></p>
    <google-map center="map.center" zoom="map.zoom"></google-map>
</div>